.plan-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
}

.plan-col {
    border: 1px solid;
    border-color: hsl(229, 24%, 87%);
    margin: 0.5rem 0rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row !Important;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 1.2rem;
    height: auto !Important;
    gap: 15px !important;
    width: 100%;
    cursor: pointer;
}

.plan-col:hover {
    border: 2px solid;
    border-color: hsl(231, 11%, 63%);
}

.plan-col:has([name="plan"]:checked) {
    background-color: hsl(231, 100%, 99%);
    border: 2px solid;
    border-color: hsl(231, 11%, 63%);
}

.planinput {
    appearance: none;
}

.plan-text h3 {
    display: flex;
    flex-direction: column;
    color: hsl(213, 96%, 18%);
    font-size: 16px;
}

.plan-text h3>span {
    font-weight: 400;
    font-size: 14px;
    color: hsl(231, 11%, 63%);
}

.plan-text h3>p {
    font-weight: 700;
    font-size: 14px;
    width: 100%;
    color: hsl(213, 96%, 18%);

}

.choose-plan {
    width: 100%;
    background-color: hsl(231, 5%, 48%);
    padding: 1rem 0;
}

.choose-plan-col {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 60%;
}

.choose-plan-col span {
    color:  hsl(213, 96%, 18%);
    font-weight: 700;
}

.choose-plan-col input {
    appearance: none;
    opacity: 0;
    cursor: pointer;
    inset: 0;
    position: absolute;
}

.plan-toggle {
    position: relative;
    width: 2.5rem;
    height: 1.4rem;
    border-radius: 100vmax;
    pointer-events: none;
    background-color:  hsl(213, 96%, 18%);
}

.plan-toggle::before {
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    background-color: white;
    border-radius: 100vmax;
    top: 0.2rem;
    left: 0.2rem;
    transition: transform 0.2s cubic-bezier(0.95, 0.05, 0.17, 1.17);
}

.choose-plan-col input:checked+.plan-toggle::before {
    transform: translateX(100%);
}

@media screen and (min-width:768px) {
    .plan-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 1rem;
    }

    .plan-col {
        border: 1px solid;
        border-color: hsl(229, 24%, 87%);
        margin: 0.5rem 0rem;
        border-radius: 10px;
        display: flex;
        flex-direction: column !Important;
        align-items: start;
        justify-content: flex-start;
        padding: 1rem 1rem;
        height: auto !Important;
        width: 7.2rem;
        cursor: pointer;
    }
}

@media screen and (min-width:1024px) {
    .plan-container {
        width: 100%;
        gap: 1rem;
    }

    .plan-col {
        border: 1px solid;
        border-color: hsl(229, 24%, 87%);
        margin: 0.5rem 0rem;
        border-radius: 10px;
        display: flex;
        flex-direction: column !Important;
        align-items: start;
        justify-content: flex-start;
        padding: 1rem 1rem;
        height: auto !Important;
        width: 8.9rem;
        cursor: pointer;
    }
}