.stepsColNum {
    display: flex;
    align-items: center;
    text-align: center;
    border: 1.5px solid var(--White);
    border-radius: 50%;
    font-size: 14px;
    font-family: inherit;
    font-weight: 500;
    padding: 0.3rem 0.7rem;
    color: var(--White);
}

.stepsColNum.isActive {
    background-color: var(--Lightblue);
    color: var(--Marineblue);
    border-color: var(--Lightblue);
}